@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;1,100;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;1,100;1,400;1,500;1,700&family=Vina+Sans&display=swap');
/*** RESET ***/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}


/*** MAIN ***/
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(8, 8, 8, 0.418);
}

.hero {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 500px;
    background-image: url(../img/kobebryant.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 80px;
    color: black;
    font-family: 'Vina Sans', sans-serif;
    margin: 10px;
}

.hero p {
    color: black;
    font-style: italic;
    font-size: 22px;
}


.hero a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-family: 'Vina Sans', sans-serif;
    background-color: whitesmoke;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
}

/*** PRODUCTOS ***/

.productos {
    background-image: url(../img/kareemaj.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.productos h2 {
    font-size: 50px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 5px 5px 5px 5px;
    padding: 12px 0 12px 0;
}

.productos p {
    font-size: 25px;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.productos div img {
    width: 300px;
    height: 300px;
}

.productos .productos-flex div {
    border: 2px solid black;
    width: 300px;
    height: 385px;
    margin: 20px;
    text-align: center;
    background-color: rgba(8, 8, 8, 0.418);
    border-radius: 20px;
}

.productos-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos div h3 {
    text-decoration: solid;
    font-size: 30px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 0 5px 10px 5px;
}

.productos div a {
    text-decoration: none;
    background-color: black;
    font-size: 18px;
    color: white;
    border-radius: 12px;
    padding: 5px;
}


/*** ENVIOS ***/

.envios {
    background-image: url(../img/michaeljordanbimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.envios div {
    width: 60%;
}

.envios div h2 {
    background-color: black;
    color: white;
    font-size: 50px;
    margin: 15px;
    padding: 5px 0 5px 0;
    border-radius: 20px;
}

.envios div p {
    font-size: 25px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.349);
}


.envios img {
    width: 350px;
    height: 525px;
}

/*** FOOTER ***/

.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.footer h2 {
    text-align: center;
    color: white;
    font-family: 'Vina Sans', sans-serif;
    font-size: 50px;
}


/*** CATALOGO ***/

.titulo-catalogo {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Vina Sans', sans-serif;
    padding: 5px;
    margin-bottom: 0;
}


.catalogo-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
    background-image: url(../img/fondochicagobulls.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.catalogo-grid div {
    background-color: rgba(8, 8, 8, 0.418);
    position: relative;
}

.catalogo-grid div h3 {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 15px;
    width: 100%;
}

.catalogo-grid div a {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    margin: 0 0 0 25px;
    padding: 7px;
    border-radius: 15px;
    font-family: 'Vina Sans', sans-serif;
    font-size: 25px;
}


/*** CONTACTO ***/

.titulo-contacto {
    color: white;
    background-color: black;
    font-size: 50px;
    font-family: 'Vina Sans', sans-serif;
    text-align: center;
    margin-bottom: 0;
}

.contacto-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-image: url(../img/loslakersfondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contacto-flex .kobe img {
    width: 500px;
    height: 500px;
}

.contacto-flex .correo {
    width: 500px;
    height: 500px;
    background-color: rgba(8, 8, 8, 0.418);
    border-radius: 15px;
    font-family: 'Vina Sans', sans-serif;
}

/*** DESCUENTOS ***/

.titulo-descuentos {
    color: white;
    background-color: black;
    font-size: 50px;
    font-family: 'Vina Sans', sans-serif;
    text-align: center;
    border-bottom: 0;
}

.descuentos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0;
    background-image: url(../img/goldenstatefondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}

.descuentos div img {
    width: 300px;
    height: 300px;
}

.descuentos div {
    border: 5px solid black;
    width: 300px;
    height: 385px;
    margin: 20px;
    text-align: center;
    background-color: rgba(8, 8, 8, 0.418);
    border-radius: 20px;
}

.descuentos a {
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    font-family: 'Vina Sans', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    padding: 7px;
}


/*** NOSOTROS **/

.titulo-nosotros {
    color: white;
    background-color: black;
    font-size: 50px;
    font-family: 'Vina Sans', sans-serif;
    text-align: center;
    border-bottom: 0;
}

.nosotros-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../img/detroitpistonsfondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nosotros-flex .historia {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0 0 30px 0;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
}