main {
    .titulo-nosotros {
        color: white;
        background-color: black;
        font-size: 50px;
        font-family: 'Vina Sans', sans-serif;
        text-align: center;
        border-bottom: 0;
    }
    .nosotros-flex {
        display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../img/detroitpistonsfondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        p{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: 18px;
            margin: 0 0 30px 0;
            background-color: rgba(0, 0, 0, 0.363);
            color: white;
        }
    }
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    h2 {
        text-align: center;
        color: white;
        font-family: 'Vina Sans', sans-serif;
        font-size: 50px;
    }
    .logoig {
        img{
            transition: 1s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}